data/
__pycache__/
models/
*.h5
*.pt
*.ckpt
*.pyc
.ipynb_checkpoints/
*.pkl
.venv/
.DS_Store
data/brain_tumor_dataset/     # Original raw data
data/processed/               # Preprocessed data
data/augmented/               # Augmented data
